body {
    background-color: #1BBC9B
}
div {
    margin: auto;
    width : 500px;
    background-color: #EEEFF1;
    border-radius: 5px;
    text-align: center;
    padding: 50px;
}
h1 {
    color: #000000;
    text-align: center;
}
h2 {
    color: #000000;
    text-align: center;
}
input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
}