/*body {*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*#header {*/
/*    text-align: center;*/
/*    padding: 20px;*/
/*}*/

/*#content {*/
/*    width: 80%;*/
/*    margin: auto;*/
/*}*/

/*#contentForm {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 20px;*/
/*}*/

/*#contentForm input[type=text] {*/
/*    flex: 1;*/
/*    margin-right: 10px;*/
/*    padding: 5px;*/
/*}*/

/*#contentForm input[type=submit] {*/
/*    width: 100px;*/
/*}*/

/*#todoListTable {*/
/*    width: 100%;*/
/*    border-collapse: collapse;*/
/*}*/

/*#todoListTable thead th {*/
/*    background-color: #f2f2f2;*/
/*    text-align: left;*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*#todoListTable tbody td {*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*#todoListTable tbody tr:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/


#content {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#todoListTable td:nth-child(2) input[type=button], #top_content input[type=submit], #top_content input[type=button]{
    background-color: lightcyan;
    border: 1px solid black;
    border-radius: 5px;
    width: 55px;
    height: 35px;
    font-size: 20px;
    margin: 5px;
}
#top_content input[type=text]{
    width: 250px;
    height: 33px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 20px;
}
#mid_content input[disabled] {
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    padding-left: 5px;
    font-size: 20px;
}
#mid_content input:not([disabled]) {
    width: 100%;
    height: 45px;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 20px;
}
#top_content{
    text-align: center;
}
#mid_content {
    border-radius: 5px;
    margin-top: 10px;
}

#mid_content table {
    width: 700px;
    font-size: 30px;
}
#todoListTable th:first-child {
    width: 80%;
}
#todoListTable th:nth-child(2) {
    width: 20%;
}
#todoListTable td:nth-child(2) {
    text-align: center;
}

#header{
    background-color: aliceblue;
    width: auto;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 5px;
}


#logoutBtn {
    background-color: cornflowerblue;
    color: beige;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width : 100px;
    height: 35px;
}

#manage1{
    background-color: lightpink;
    color: beige;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width : 100px;
    height: 35px;
}
