a:link{color:black;}
a:visited{color:black;}
a:hover{color:black;}
a:active{color:black;}
a{text-decoration: none;}


#content {
    width: 700px;
}
#mid_content {
    height: 500px;
}
#todoListTable {
    width: 700px;
}
#todoListTable th:first-child {
    width: 70%;
}
#todoListTable th:nth-child(2) {
    width: 30%;
}
#todoListTable td:nth-child(2) {
    text-align: center;
}
