a:link{color:black;}
a:visited{color:black;}
a:hover{color:black;}
a:active{color:black;}
a{text-decoration: none;}


#content {
    width: 700px;
}
#mid_content {
    height: 500px;
}
#todoListTable {
    width: 700px;
}
#todoListTable th:first-child {
    width: 70%;
}
#todoListTable th:nth-child(2) {
    width: 30%;
}
#todoListTable td:nth-child(2) {
    text-align: center;
}

.container table {width: 500px;}
.container table thead { border: 1px solid orange; float:left; }
.container table tbody { border: 1px solid red; float:left; }
.container table thead tr, .container table thead tr th { display:block; }
/*.container table tbody tr td { display:block; background-color: greenyellow}*/
/*.second { display: inline-block; }*/
/*.container table tbody { display:block; oveflow-x:hidden; white-space:nowrap; }*/
/*.container table tbody tr { display:inline-block; }*/
/*.container table tbody tr td { display:block;}*/

#header{
    background-color: aliceblue;
    width: auto;
    height: 50px;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 70px;
}
#logoutBtn {
    /* 버튼에 대한 스타일 지정 */
    background-color: cornflowerblue; /* 배경 색 */
    color: beige; /* 텍스트 색 */
    border: none; /* 테두리 제거 */
    padding: 5px 10px; /* 패딩 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
}

#manage{
    background-color: lightpink; /* 배경 색 */
    color: beige; /* 텍스트 색 */
    border: none; /* 테두리 제거 */
    padding: 5px 10px; /* 패딩 */
    border-radius: 5px; /* 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
}